@import '../../assets/main';

.navbar-container {
    padding-top: 10px;
    padding-bottom: 10px;
    height: auto;
    background-color: $navbar;
    font-size: x-large;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    button {
        cursor: pointer;
        padding: 10px 10px;
        margin: 5px;
        font-size: large;
        text-transform: capitalize;
        min-width: 90px;
        background-color: transparent;
        border-radius: 8px;

        &:hover {
            opacity: .6;
        }
    }

    @media screen and (max-width: 1080px) and (min-width: 468px) {
        padding-left: 70px;
        padding-right: 70px;
    }
}

.active {
    outline: 2px solid $black !important;
}